---
name: CI

# yamllint disable-line rule:truthy
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 1

      - name: Install `yamllint`
        run: pip install --requirement=.github/workflows/requirements.txt

      - name: Install `cargo-deny` & `just`
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb  # v2
        with:
          tool: cargo-deny,just

      - name: Install `tombi`
        uses: tombi-toml/setup-tombi@a9378ac9fe5c29df7d26263deacea4ac642af9c2  # v1

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9  # master
        with:
          components: clippy, rustfmt
          toolchain: stable
          targets: wasm32-wasip2

      - name: Cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1  # v2.8.1

      - name: just check
        run: just check
        env:
          # Disable incremental compilation to avoid overhead.
          CARGO_INCREMENTAL: "0"
          # Disable full debug symbol generation to speed up CI build
          # "1" means line tables only, which is useful for panic tracebacks.
          CARGO_PROFILE_DEV_DEBUG: "1"

      - name: upload docs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: docs
          path: target/doc
